<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>Jugadores</H1>

<form action="listado-jugadores" method="POST">
    {%csrf_token%}
    <fieldset>
        <legend>Filtro</legend>
        <label>Posición: <input type="text" name="posicion" list="posicion"/>
            <datalist id="posicion">
                {% for posicion in listado_posicion %}
                <option value="{{posicion}}"></option>
                {% endfor %}
            </datalist>
        </label>

        <label>Nacionalidad: <input type="text" name="nacionalidad" list="nacionalidad"/>
            <datalist id="nacionalidad">
                {% for nacionalidad in listado_nacionalidad %}
                <option value="{{nacionalidad}}"></option>
                {% endfor %}
            </datalist>
        </label>

        <label>Equipo: <input type="text" name="equipo" list="equipo"/>
            <datalist id="equipo">
                {% for equipo in listado_equipos %}
                <option value="{{equipo}}"></option>
                {% endfor %}
            </datalist>
        </label>

    </fieldset>

    <table border="1" title="{{titulo_tabla}}">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Equipo</th>
        <th scope="col">Edad</th>
        <th scope="col">Posición</th>
        <th scope="col">Nacionalidad</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for jugador in jugadores %}
        <tr>
            <td>{{jugador.nombre}}</td>
            <td>{{jugador.equipo}}</td>
            <td>{{jugador.edad}}</td>
            <td>{{jugador.posicion}}</td>
            <td>{{jugador.nacionalidad}}</td>
            <td>
                <a href="{% url 'editar_jugador' jugador.id %}">Actualizar</a>
                <a href="{% url 'eliminar_jugador' jugador.id %}">Eliminar</a>
            </td>
        </tr>
    {% endfor %}

    </tbody>

    </table>
    <input type="hidden" name="titulo" value="{{titulo_tabla}}">
    <input type="hidden" name="action" value="filtrar">
    <input type="submit" value="Filtrar"/>
</form>
    <li><a href="{% url 'aniadir_jugador' %}">Añadir jugador</a></li>
    <li><a href="{% url 'deportes' %}">Atrás</a></li>

</body>
</html>